body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.itrend-widgets {
  background-color: #dddddb;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 30px 25px 0; }
  .itrend-widgets .itrend-widget {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: -webkit-calc(50% - 15px);
    width: calc(50% - 15px);
    min-width: 300px;
    background-color: #fff;
    padding: 18px;
    margin-bottom: 30px;
    position: relative; }
    @media (max-width: 400px) {
      .itrend-widgets .itrend-widget {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        min-width: 200px; } }
    .itrend-widgets .itrend-widget h3 {
      color: #f48b52;
      font-size: 24px;
      padding-right: 50px; }
    .itrend-widgets .itrend-widget p {
      color: #5e5e5e;
      margin-bottom: 3px; }
    .itrend-widgets .itrend-widget .negative {
      color: #990000; }
    .itrend-widgets .itrend-widget .positive {
      color: #009900; }
    .itrend-widgets .itrend-widget .itrend-widget-ico {
      position: absolute;
      right: 40px;
      width: 25%;
      min-width: 100px;
      left: auto;
      top: 20px;
      bottom: 20px;
      -webkit-background-size: 100% 100%;
              background-size: 100%;
      background-position: right bottom;
      background-repeat: no-repeat; }
      @media (max-width: 1279px) {
        .itrend-widgets .itrend-widget .itrend-widget-ico {
          right: 10px;
          top: auto;
          bottom: 10px;
          width: 40px;
          height: 60px;
          -webkit-background-size: contain;
                  background-size: contain; } }
  .itrend-widgets .itrend-widgets-footer {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .itrend-widgets .itrend-widgets-footer span {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      font-weight: bold;
      font-size: 18px; }
    .itrend-widgets .itrend-widgets-footer img {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      height: 30px;
      width: auto;
      margin-left: 10px; }
