.tabs_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }

.tabs {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 4px;
  margin-bottom: 10px; }
  .tabs a {
    display: inline-block;
    vertical-align: top;
    padding: 8px 12px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 18px; }
    @media (max-width: 420px) {
      .tabs a {
        font-size: 16px; } }
    @media (max-width: 340px) {
      .tabs a {
        font-size: 14px; } }
    .tabs a:after {
      content: '';
      display: block;
      height: 4px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      width: 100%;
      position: absolute;
      bottom: -2px;
      left: 0;
      background: transparent;
      -webkit-transition: background .2s;
      transition: background .2s; }
    .tabs a:hover {
      color: black; }
      .tabs a:hover:after {
        background: #17a2b8; }
  .tabs .active:after {
    background: #17a2b8; }

.tabs_content {
  padding: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .tabs_content .tabs_content_wrap {
    display: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .tabs_content .tabs_content_wrap.active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }

.project_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 96vw; }

.project_info {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 540px) {
    .project_info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.project_info_main, .project_info_descr {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }
  @media (max-width: 540px) {
    .project_info_main, .project_info_descr {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; } }

.project_actions {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  .project_actions .icons {
    padding: 8px 0 0; }

h3 {
  font-size: 18px; }

h5 {
  color: #9d9d9d;
  font-weight: 300; }

h6 {
  color: #9d9d9d;
  font-size: 12px;
  margin-bottom: 0; }

.badge {
  margin-right: 4px; }

.btn {
  padding: 8px 14px;
  margin-right: 10px; }

.btn-primary {
  background: #17a2b8;
  border-color: #17a2b8;
  outline: none; }
  .btn-primary:hover {
    background-color: #1f7886;
    border-color: #1f7886; }

.btn-outline-primary {
  color: #17a2b8;
  border-color: #17a2b8; }
  .btn-outline-primary:hover {
    background-color: #17a2b8;
    border-color: #17a2b8; }

.icons a {
  text-decoration: none;
  color: #555 !important;
  padding: 2px;
  font-size: 26px;
  -webkit-transition: color .2s;
  transition: color .2s; }
  .icons a:before {
    content: '\e808'; }
  @media (max-width: 480px) {
    .icons a {
      font-size: 20px; } }
  .icons a:hover {
    color: #1f7886 !important; }

.events {
  width: 97.5vw; }
  .events .event {
    margin-bottom: 10px; }
    .events .event .event_head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      background: #ededed;
      padding: 10px; }
      @media (max-width: 420px) {
        .events .event .event_head {
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      .events .event .event_head > span {
        font-size: 18px; }
        @media (max-width: 420px) {
          .events .event .event_head > span {
            font-size: 14px; } }
      .events .event .event_head .event_end, .events .event .event_head .event_start {
        padding-left: 20px; }
      .events .event .event_head .event_type, .events .event .event_head .event_start, .events .event .event_head .event_end {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 110px;
            -ms-flex: 0 0 110px;
                flex: 0 0 110px;
        white-space: nowrap; }
        @media (max-width: 420px) {
          .events .event .event_head .event_type, .events .event .event_head .event_start, .events .event .event_head .event_end {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                    flex: 0 0 auto; } }
      .events .event .event_head .event_arrow {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        text-align: right; }
        @media (max-width: 420px) {
          .events .event .event_head .event_arrow {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                    flex: 0 0 auto; } }
        .events .event .event_head .event_arrow span {
          padding: 5px; }
        .events .event .event_head .event_arrow i {
          -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
                  transform: rotate(0deg);
          -webkit-transition: -webkit-transform .2s;
          transition: -webkit-transform .2s;
          transition: transform .2s;
          transition: transform .2s, -webkit-transform .2s;
          -webkit-transform-origin: 50% 57.2%;
              -ms-transform-origin: 50% 57.2%;
                  transform-origin: 50% 57.2%;
          display: inline-block;
          font-style: normal; }
    .events .event .event_body {
      height: 0;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: all .2s;
      transition: all .2s;
      max-width: 100%;
      width: 100%; }
      @media (max-width: 420px) {
        .events .event .event_body {
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; } }
      .events .event .event_body .event_info {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 280px;
            -ms-flex: 0 0 280px;
                flex: 0 0 280px;
        padding: 10px; }
        @media (max-width: 600px) {
          .events .event .event_body .event_info {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 200px;
                -ms-flex: 0 0 200px;
                    flex: 0 0 200px; } }
        @media (max-width: 420px) {
          .events .event .event_body .event_info {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%; } }
      .events .event .event_body .event_descr {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
        padding: 10px; }
        @media (max-width: 420px) {
          .events .event .event_body .event_descr {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%; } }
  .events .event.open .event_head .event_arrow i {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .events .event.open .event_body {
    height: auto;
    overflow: visible; }

.team {
  padding: 10px;
  display: block;
  vertical-align: top;
  margin-left: -20px;
  margin-bottom: 10px;
  width: 98vw; }
  .team .person {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: 2px solid #ccc;
    min-width: 400px;
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px); }
    @media (max-width: 920px) {
      .team .person {
        min-width: auto; } }
    @media (max-width: 640px) {
      .team .person {
        min-height: 230px; } }
    .team .person .person_wrap {
      display: table;
      width: 100%; }
      @media (max-width: 640px) {
        .team .person .person_wrap {
          display: block; } }
    .team .person .person_img {
      display: table-cell;
      padding-right: 25px;
      padding: 30px 20px;
      width: 220px; }
      @media (max-width: 920px) {
        .team .person .person_img {
          width: 120px; } }
      @media (max-width: 640px) {
        .team .person .person_img {
          display: block;
          padding: 15px 0px;
          text-align: center;
          width: 100%; } }
      .team .person .person_img img {
        width: 180px;
        -webkit-border-radius: 100%;
                border-radius: 100%; }
        @media (max-width: 920px) {
          .team .person .person_img img {
            width: 80px; } }
    .team .person .person_info {
      padding-right: 20px;
      display: table-cell;
      vertical-align: middle; }
      @media (max-width: 640px) {
        .team .person .person_info {
          display: block;
          padding: 0 10px;
          text-align: center; }
          .team .person .person_info h3 {
            font-size: 14px;
            height: 36px; }
          .team .person .person_info h5 {
            font-size: 14px; } }
    .team .person .icons {
      padding-top: 20px;
      margin-left: -0.2em; }
      @media (max-width: 640px) {
        .team .person .icons {
          padding-top: 10px;
          padding-bottom: 10px; } }
      .team .person .icons a {
        font-size: 22px;
        padding: 0;
        display: inline-block;
        vertical-align: middle; }
        @media (max-width: 640px) {
          .team .person .icons a {
            font-size: 16px; } }

.icon-website:before {
  content: '\e800' !important; }

.icon-edit:before {
  content: '\e801' !important; }

.icon-down-open:before {
  content: '\e802' !important; }

.icon-left-open:before {
  content: '\e803' !important; }

.icon-right-open:before {
  content: '\e804' !important; }

.icon-up-open:before {
  content: '\e805' !important; }

.icon-twitter:before {
  content: '\f099' !important; }

.icon-facebook:before {
  content: '\f09a' !important; }

.icon-github:before {
  content: '\f09b' !important; }

.icon-mail-alt:before {
  content: '\f0e0' !important; }

.icon-linkedin:before {
  content: '\f0e1' !important; }

.icon-whitepaper:before {
  content: '\f0f6' !important; }

.icon-telegram-chat:before,
.icon-telegram:before {
  content: '\f2c6' !important; }

.icon-coinmarketcap:before {
  content: '\e80a' !important; }

.icon-bitcointalk:before,
.icon-bitcointalk-forum-topic {
  content: '\e806' !important; }
