.tabs {
  padding: 4px;
  margin-bottom: 10px; }
  .tabs a {
    display: inline-block;
    vertical-align: top;
    padding: 8px 12px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 18px; }
    @media (max-width: 420px) {
      .tabs a {
        font-size: 16px; } }
    @media (max-width: 340px) {
      .tabs a {
        font-size: 14px; } }
    .tabs a:after {
      content: '';
      display: block;
      height: 4px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      width: 100%;
      position: absolute;
      bottom: -2px;
      left: 0;
      background: transparent;
      -webkit-transition: background .2s;
      transition: background .2s; }
    .tabs a:hover {
      color: black; }
      .tabs a:hover:after {
        background: #17a2b8; }
  .tabs .active:after {
    background: #17a2b8; }

.tabs_content {
  padding: 10px; }
  .tabs_content .tabs_content_wrap {
    display: none; }
    .tabs_content .tabs_content_wrap.active {
      display: block; }

.project_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.project_info {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.project_info_main, .project_info_descr {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.project_actions {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

h3 {
  font-size: 18px; }

h5 {
  color: #9d9d9d;
  font-weight: 300; }

h6 {
  color: #9d9d9d;
  font-size: 12px; }

.btn {
  padding: 8px 14px;
  margin-right: 10px; }

.btn-primary {
  background: #17a2b8;
  border-color: #17a2b8;
  outline: none; }
  .btn-primary:hover {
    background-color: #1f7886;
    border-color: #1f7886; }

.btn-outline-primary {
  color: #17a2b8;
  border-color: #17a2b8; }
  .btn-outline-primary:hover {
    background-color: #17a2b8;
    border-color: #17a2b8; }

.icons a {
  text-decoration: none;
  color: #555;
  padding: 2px;
  font-size: 26px;
  -webkit-transition: color .2s;
  transition: color .2s; }
  @media (max-width: 480px) {
    .icons a {
      font-size: 20px; } }
  .icons a:hover {
    color: #1f7886; }

.events .event {
  margin-bottom: 10px; }
  .events .event .event_head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    background: #ededed;
    padding: 10px; }
    @media (max-width: 420px) {
      .events .event .event_head {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .events .event .event_head > span {
      font-size: 18px; }
      @media (max-width: 420px) {
        .events .event .event_head > span {
          font-size: 14px; } }
    .events .event .event_head .event_type, .events .event .event_head .event_start, .events .event .event_head .event_end {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 110px;
          -ms-flex: 0 0 110px;
              flex: 0 0 110px; }
      @media (max-width: 420px) {
        .events .event .event_head .event_type, .events .event .event_head .event_start, .events .event .event_head .event_end {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 auto;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto; } }
    .events .event .event_head .event_arrow {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      text-align: right; }
      @media (max-width: 420px) {
        .events .event .event_head .event_arrow {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 auto;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto; } }
      .events .event .event_head .event_arrow span {
        padding: 5px; }
      .events .event .event_head .event_arrow i {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
        -webkit-transform-origin: 50% 57.2%;
            -ms-transform-origin: 50% 57.2%;
                transform-origin: 50% 57.2%;
        display: inline-block;
        font-style: normal; }
  .events .event .event_body {
    height: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .2s;
    transition: all .2s;
    max-width: 100%;
    width: 100%; }
    @media (max-width: 420px) {
      .events .event .event_body {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    .events .event .event_body .event_info {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 280px;
          -ms-flex: 0 0 280px;
              flex: 0 0 280px;
      padding: 10px; }
      @media (max-width: 600px) {
        .events .event .event_body .event_info {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 200px;
              -ms-flex: 0 0 200px;
                  flex: 0 0 200px; } }
      @media (max-width: 420px) {
        .events .event .event_body .event_info {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%; } }
    .events .event .event_body .event_descr {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      padding: 10px; }
      @media (max-width: 420px) {
        .events .event .event_body .event_descr {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 100%;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%; } }

.events .event.open .event_head .event_arrow i {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.events .event.open .event_body {
  height: auto;
  overflow: visible; }

.team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 10px; }
  .team .person {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 49%;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: 2px solid #ccc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 30px; }
    @media (max-width: 920px) {
      .team .person {
        padding: 20px 10px; } }
    @media (max-width: 640px) {
      .team .person {
        text-align: center; } }
    @media (max-width: 420px) {
      .team .person {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; } }
    .team .person .person_img {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      padding-right: 10px; }
      @media (max-width: 640px) {
        .team .person .person_img {
          -webkit-box-flex: 1;
          -webkit-flex: 1 0 100%;
              -ms-flex: 1 0 100%;
                  flex: 1 0 100%;
          margin-bottom: 12px;
          padding: 0; } }
      .team .person .person_img img {
        width: 180px;
        -webkit-border-radius: 100%;
                border-radius: 100%; }
        @media (max-width: 920px) {
          .team .person .person_img img {
            width: 100px; } }
    .team .person .person_info {
      padding-left: 20px;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
      @media (max-width: 640px) {
        .team .person .person_info {
          padding: 0; } }
    .team .person .icons {
      margin-left: -0.2em; }
      .team .person .icons a {
        font-size: 22px;
        padding: 0;
        display: inline-block;
        vertical-align: middle; }

.icon-website:before {
  content: '\e800'; }

.icon-edit:before {
  content: '\e801'; }

.icon-down-open:before {
  content: '\e802'; }

.icon-left-open:before {
  content: '\e803'; }

.icon-right-open:before {
  content: '\e804'; }

.icon-up-open:before {
  content: '\e805'; }

.icon-twitter:before {
  content: '\f099'; }

.icon-facebook:before {
  content: '\f09a'; }

.icon-github:before {
  content: '\f09b'; }

.icon-mail-alt:before {
  content: '\f0e0'; }

.icon-linkedin:before {
  content: '\f0e1'; }

.icon-whitepaper:before {
  content: '\f0f6'; }

.icon-telegram-chat:before,
.icon-telegram:before {
  content: '\f2c6'; }

.icon-coinmarketcap:before {
  content: '\e80a'; }

.icon-bitcointalk:before,
.icon-bitcointalk-forum-topic {
  content: '\e806'; }
