h3 {
  font-size: 18px; }

h5 {
  color: #9d9d9d;
  font-weight: 300; }

h6 {
  color: #9d9d9d;
  font-size: 12px; }

.icons a {
  text-decoration: none;
  color: #555;
  padding: 2px 6px;
  font-size: 32px;
  -webkit-transition: color .2s;
  transition: color .2s; }
  @media (max-width: 480px) {
    .icons a {
      font-size: 20px; } }
  .icons a:hover {
    color: #1f7886; }

.opinions .opinion {
  margin-bottom: 10px; }
  .opinions .opinion .opinion_head {
    position: relative;
    cursor: pointer;
    background: #ededed;
    padding: 10px 50px 10px 10px; }
    .opinions .opinion .opinion_head .opinion_name {
      display: inline-block;
      vertical-align: top;
      font-size: 24px;
      line-height: 44px;
      margin-bottom: 10px;
      min-width: 280px; }
      @media (max-width: 350px) {
        .opinions .opinion .opinion_head .opinion_name {
          min-width: auto; } }
      .opinions .opinion .opinion_head .opinion_name.active {
        padding-right: 32px; }
        .opinions .opinion .opinion_head .opinion_name.active span {
          position: relative; }
          .opinions .opinion .opinion_head .opinion_name.active span:after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            top: 3px;
            left: auto;
            right: -30px;
            background-image: url(img/conf.png);
            background-repeat: repeat-x;
            background-position: left top; }
    .opinions .opinion .opinion_head .opinion_arrow {
      position: absolute;
      right: 16px;
      top: 22px; }
      .opinions .opinion .opinion_head .opinion_arrow span {
        padding: 5px; }
      .opinions .opinion .opinion_head .opinion_arrow i {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
        display: inline-block;
        font-style: normal; }
  .opinions .opinion .opinion_body {
    height: 0;
    overflow: hidden;
    display: block;
    -webkit-transition: all .2s;
    transition: all .2s; }
    .opinions .opinion .opinion_body .opinion_body_wrap {
      display: table;
      width: 100%; }
      @media (max-width: 979px) {
        .opinions .opinion .opinion_body .opinion_body_wrap {
          display: block; } }
    .opinions .opinion .opinion_body p {
      font-size: 24px; }
      @media (max-width: 480px) {
        .opinions .opinion .opinion_body p {
          font-size: 16px; } }
    .opinions .opinion .opinion_body .opinion_info {
      display: table-cell;
      vertical-align: top;
      width: 490px;
      padding: 10px; }
      @media (max-width: 979px) {
        .opinions .opinion .opinion_body .opinion_info {
          display: block;
          width: auto; } }
    .opinions .opinion .opinion_body .person {
      display: table; }
      .opinions .opinion .opinion_body .person .person_img {
        display: table-cell;
        vertical-align: top;
        padding: 0 10px; }
        .opinions .opinion .opinion_body .person .person_img img {
          width: 80px;
          -webkit-border-radius: 100%;
                  border-radius: 100%; }
        .opinions .opinion .opinion_body .person .person_img .icons a {
          font-size: 22px;
          padding: 2px; }
      .opinions .opinion .opinion_body .person .person_info {
        padding: 0 10px;
        display: table-cell;
        vertical-align: top; }
        .opinions .opinion .opinion_body .person .person_info ul {
          list-style: none;
          padding: 0; }
          .opinions .opinion .opinion_body .person .person_info ul li a {
            color: #429eae;
            font-size: 24px;
            text-decoration: underline; }
    .opinions .opinion .opinion_body .opinion_descr {
      display: table-cell;
      vertical-align: top;
      padding: 10px; }
      @media (max-width: 979px) {
        .opinions .opinion .opinion_body .opinion_descr {
          display: block; } }

.opinions .opinion.open .opinion_head .opinion_arrow i {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.opinions .opinion.open .opinion_body {
  height: auto;
  overflow: visible; }

.count {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 8px; }
  .count .count_info {
    display: inline-block;
    vertical-align: top;
    padding: 0 4px;
    font-size: 24px;
    line-height: 24px;
    color: #363636; }
  .count .count_marker {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 68px;
    height: 44px; }
  .count .count_marker_empty {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 100%;
    background-image: url(img/mark_e.png);
    background-repeat: repeat-x;
    background-position: left top; }
  .count .count_marker_full {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 0;
    background-image: url(img/mark_f.png);
    background-repeat: repeat-x;
    background-position: left top; }
  .count .count_text {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #666161;
    font-size: 17px; }

.rating {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 20px; }
  .rating .rating_marker {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 150px;
    height: 44px; }
  .rating .rating_marker_empty {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 100%;
    background-image: url(img/star_e.png);
    background-repeat: repeat-x;
    background-position: left top; }
  .rating .rating_marker_full {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 0;
    background-image: url(img/star_f.png);
    background-repeat: repeat-x;
    background-position: left top; }
  .rating .rating_text {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #429eae;
    font-size: 17px; }

.icon-website:before {
  content: '\e800'; }

.icon-edit:before {
  content: '\e801'; }

.icon-down-open:before {
  content: '\e802'; }

.icon-left-open:before {
  content: '\e803'; }

.icon-right-open:before {
  content: '\e804'; }

.icon-up-open:before {
  content: '\e805'; }

.icon-twitter:before {
  content: '\f099'; }

.icon-facebook:before {
  content: '\f09a'; }

.icon-github:before {
  content: '\f09b'; }

.icon-mail-alt:before {
  content: '\f0e0'; }

.icon-linkedin:before {
  content: '\f0e1'; }

.icon-whitepaper:before {
  content: '\f0f6'; }

.icon-telegram-chat:before,
.icon-telegram:before {
  content: '\f2c6'; }

.icon-coinmarketcap:before {
  content: '\e80a'; }

.icon-bitcointalk:before,
.icon-bitcointalk-forum-topic {
  content: '\e806'; }
